body {
    background-image: url(../assets/map.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

.player {
    background-image: url("../assets/player_back.png");
    height: 80px;
    width: 70px;
    /* background-size: 240px 100px;
    background-position: -80px 0; */
    position: fixed;
    z-index: 1000;
}

.player.active {
    animation: .2s walk linear infinite;
}

/* @keyframes walk{
    0%, 33%{
        background-position: 0 0;
    }
    33%, 67%{
        background-position: -80px 0;
    }
    67%, 100%{
        background-position: -160px 0;
    }
} */

.pokeball{
  width: 30px;
  height: 30px;
  background-image: url("../assets/pokeball.png");
  background-size: 100% 100%;
  position: fixed;
}

.main {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.name-wrap {
    text-align: center;
    margin-bottom: 20px;
}

.name {
    font-size: 24px;
    font-weight: bold;
}

.image {
    text-align: center;
    margin-bottom: 20px;
}

.img-wrap img {
    max-width: 100%;
}

.type-wrap {
    text-align: center;
    margin-bottom: 20px;
}

.font1 {
    font-size: 16px;
}

.type {
    display: inline-block;
    background-color: #000000;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px;
}

.move-wrap {
    margin-bottom: 20px;
}

.move-head {
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.tagline {
    font-size: 16px;
    margin-bottom: 20px;
}

.about {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.stats-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.stats {
    text-align: center;
    flex: 1;
}

.stat {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.button-wrap {
    text-align: center;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.start, .search {
    background-color: #008CBA;
}

.button p {
    margin: 10px 0;
}